.product-style-1 .product-info .product-name:hover,
.wrap-vertical-nav li a:hover,
.header-nav-section li>a:hover,
.topbar-menu-area .topbar-menu ul li a:hover,
.product-style-2 .product-info .product-name:hover span,
.product .product-info .product-name:hover span,
.back-link-box  .list-back-link li a:hover,
.coppy-right-box .coppy-right-text a:hover,
.wrap-nav.horizontal-nav .link-term:hover,
.change-display-mode .display-mode:hover i::before,
.change-display-mode .display-mode.active i::before,
.ui-slider+p button:hover,
.vertical-list li a.active,
.center-section .wrap-search-form,
.wrap-login-item .form-item input[type="checkbox"] + span::after,
.post-footer .post-tags ul li,
.wrap-iten-in-cart .products-cart .product-name a:hover,
.summary .checkout-info .link-to-shop:hover,
.wrap-product-detail .detail-info .quantity-input input[type=text],
.widget-our-services .service a>i,
.product-style-1 .product-info .wrap-btn a,
.wrap-breadcrumb ul a:hover,
.wrap-list-cate .list-cate li:not(.level-0):hover{
    color: #b30909;
}

.widget a:hover,
.product-list-style .advance-info .wrap-btn .btn:hover,
.product-list-style .advance-info .wrap-btn .btn:hover::before,
.product .product-info .product-rating .count-review:hover,
.product-list-style .advance-info .stock-info.in-stock p b,
.wrap-login-item .form-item .link-function:hover,
.wrap-articles article .info .post-attrs li a:hover,
.wrap-articles article .info .post-name:hover .art-title,
.wrap-articles article .info .post-attrs li a.link-commnet-post:hover::before,
.widget.search-post button[type=submit]:hover i,
.wrap-product-detail .detail-info .wrap-btn .btn:hover,
.wrap-product-detail .detail-info .wrap-btn .btn:hover::before,
.header-toggle .primary>.menu-item.sale-panel>a:hover,
.wrap-product-widget  li.funtion-item a:hover,
.wrap-product-widget  li.funtion-item a:hover i,
.wrap-product-widget  li.funtion-item a:hover::after,
.widget.filter-widget .vertical-list li a::after
{
    color: #f50707; !important;
}


.flex-control-thumbs img.flex-active,
.wrap-product-detail .advance-info .tab-control a.active,
.wrap-product-detail .detail-info .quantity-input .btn:hover,
.wrap-product-detail .detail-info .wrap-butons .add-to-cart:hover,
.product-widget-style .thumbnnail a:hover img,
.choose-payment-methods .payment-method input[type=radio]:checked + span::before,
.header-toggle .primary>.menu-item:not(.sale-panel):hover,
.header-toggle .primary .submenu .menu-item:hover,
.header-toggle .nav-section,
.product-style-2:hover,
.wrap-demo-item-1:hover img,
.center-section .wrap-search-form{
    border-color: #f3f1f1;
}
.widget.widget-tag-clouds ul li a:hover,
.product-list-style .advance-info .add-to-cart:hover,
.product-style-3 a.add-to-cart:hover,
.widget.filter-widget .inline-round li a:hover,
.widget.filter-widget .inline-round li a.active,
.wrap-pagination-info .page-numbers li .page-number-item.current,
.wrap-pagination-info .page-numbers li .page-number-item:hover,
.aboutus-info.style-small-left .list-showups label input[type="radio"]:checked + span.check-box,
.wrap-articles article .info a.btn-to-post:hover
{
    border-color: #38b04a !important;
}
.wrap-footer-content .wrap-function-info .fc-info-item
{
    border-color: #d01515 !important;
}
.wrap-footer-content .wrap-function-info .fc-info-item .wrap-left-info .fc-desc{
    color: #e0e2e1 !important;
}
/*default hover color*/

.wrap-product-tab.tab-style-3 .tab-control .tab-control-item.active,
.header.fill-color .center-section .wrap-search-form button:hover,
.fill-color.header-toggle .wrap-toggle-menu,
.wrap-main-slide-2 .wrap-banners .btn:hover{
    background-color: #ed1c24;
}
